<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet"> 
  <title>Card</title>
</head>

<body>
  <div class="card">
    <img src="/static/img/userpic_capitol.png" style ="border-radius: 50%; width: 250px; height: 250px; border: 12px solid whitesmoke; box-shadow: 0px 0px 30px rgb(230, 224, 255);" alt="Userpic"> 
    <h1>
        yosum / 4cos4m</h1>
    <h5>
        SOC Analyst & 4hsl33p CTF team member</h5>
    <p>
      Hi :)
      My name is Nastya, I am a master's student at ITMO University.
      I am interested in forencics and somehow in computer graphics <i>(but, as you may see -- frontend is not for me at all) </i>
      <br><b>GLHF!</b></p>

      <a href="https://t.me/yosum"><img src="/static/img/telegram_icon.png" width="20" height="20"></a>
      <a href="https://github.com/4cos4m"><img src="/static/img/github_icon.png" width="20" height="20"></a>
      <a href="https://ctftime.org/user/65116"><img src="/static/img/ctftime_icon.png" width="20" height="20"></a>
  </div>
</body>

</html>